In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    &lt;Air France&gt; (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          &quot;Swiss Air&quot;

1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [3]:
newindex = np.arange(1, len(df['FlightNumber'])+1)
df.set_index(newindex, inplace=True)
df

            From_To  FlightNumber  RecentDelays              Airline
1      LoNDon_paris       10045.0      [23, 47]               KLM(!)
2      MAdrid_miLAN           NaN            []    &lt;Air France&gt; (12)
3  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
4    Budapest_PaRis           NaN          [13]       12. Air France
5   Brussels_londOn       10085.0      [67, 32]          &quot;Swiss Air&quot;

In [4]:
for i in newindex:
    if pd.isnull(df.FlightNumber.loc[i]):
        df.loc[i,'FlightNumber'] = df.loc[i-1,'FlightNumber'] +10
df

            From_To  FlightNumber  RecentDelays              Airline
1      LoNDon_paris       10045.0      [23, 47]               KLM(!)
2      MAdrid_miLAN       10055.0            []    &lt;Air France&gt; (12)
3  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
4    Budapest_PaRis       10075.0          [13]       12. Air France
5   Brussels_londOn       10085.0      [67, 32]          &quot;Swiss Air&quot;

In [5]:
df['FlightNumber'].astype(int)

1    10045
2    10055
3    10065
4    10075
5    10085
Name: FlightNumber, dtype: int64

2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

In [6]:
newdf = pd.DataFrame()
newdf[['From','To']] = df.From_To.str.split('_', expand=True)
newdf

       From         To
1    LoNDon      paris
2    MAdrid      miLAN
3    londON  StockhOlm
4  Budapest      PaRis
5  Brussels     londOn

3. Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

In [7]:
newdf.From = newdf.From.str.capitalize()
newdf.To = newdf.To.str.capitalize()
newdf

       From         To
1    London      Paris
2    Madrid      Milan
3    London  Stockholm
4  Budapest      Paris
5  Brussels     London

4. Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.

In [8]:
df = df.drop('From_To', axis=1)
result = pd.concat([newdf,df],axis=1)
result

       From         To  FlightNumber  RecentDelays              Airline
1    London      Paris       10045.0      [23, 47]               KLM(!)
2    Madrid      Milan       10055.0            []    &lt;Air France&gt; (12)
3    London  Stockholm       10065.0  [24, 43, 87]  (British Airways. )
4  Budapest      Paris       10075.0          [13]       12. Air France
5  Brussels     London       10085.0      [67, 32]          &quot;Swiss Air&quot;

5. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each

In [9]:
result = result.drop('RecentDelays',axis=1)

delays = pd.DataFrame(df['RecentDelays'].values.tolist(),columns=[['Delay1','Delay2','Delay3']])
delays = delays.set_index(newindex)
df = pd.concat([result,delays],axis=1)
df

,From,To,FlightNumber,Airline,"(Delay1,)","(Delay2,)","(Delay3,)"
1,London,Paris,10045.0,KLM(!),23.0,47.0,NaN
2,Madrid,Milan,10055.0,<Air France> (12),NaN,NaN,NaN
3,London,Stockholm,10065.0,(British Airways. ),24.0,43.0,87.0
4,Budapest,Paris,10075.0,12. Air France,13.0,NaN,NaN
5,Brussels,London,10085.0,"""Swiss Air""",67.0,32.0,NaN